PORT=8787
APP_BASE_URL=http://localhost:5173
SHOPIFY_API_KEY=your_shopify_api_key
SHOPIFY_API_SECRET=your_shopify_api_secret
SHOPIFY_SCOPES=read_products,read_orders,read_customers,read_themes
SHOPIFY_REDIRECT_URI=http://localhost:8787/api/shopify/callback
META_APP_ID=your_meta_app_id
META_APP_SECRET=your_meta_app_secret
META_SCOPES=ads_read,business_management
META_REDIRECT_URI=http://localhost:8787/api/meta/callback
